.findMore {
   display: flex;
   width: 1200px;
   justify-content: space-between;
   margin: 0 auto;
   align-items: center;
}

.picture {
   display: flex;
   align-items: center;
   padding: 10px;
}

.picture img {
   width: 300px;
}

.overview {
   text-align: end;
}

.overview h3 {
   font-size: 24px;
}

.overview button {
   padding: 6px 14px;
   border: none;
   border-radius: 4px;
   color: #eee;
   background-color: forestgreen;
   font-weight: 700;
}